{% extends "base.html" %}
{% block body %}
<h2>Scoreboard</h2>
<table class="score">
<tr>
	<td width=8%>Team</td>
	{% for c in challenges %}
	<td width=3.5%>{{c}}</td>
	{% endfor %}
	<td width=4%>Race</td>
</tr>
{% for team in scores %}
<tr>
	<td>{{teams[team]}}</td>
	{% for s in scores[team] %}
	  {% if s > 10 %}
	  <td class="green">
		  {% elif s == 10 %}
	  <td class="green">
		  {% else %}
	  <td>
	  {% endif %}
	  &nbsp; <!-- {{s}} -->
	</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
